<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                    <partial name="_MenuPartial" />
                    <partial name="_UserInfoPartial" />
                </nav>
            </div>
        </header>
